<p id="notice"><%= notice %></p>

<h1>Listing Links</h1>

<% @links.each do |link| %>
  <div class="row">
    <h2><%= link_to link.title, link %></h2>
    <small>Submitted <%= time_ago_in_words(link.created_at) %> by <%= link.user.name %></small>
  </div>
<% end %>