
<div class="page-header">
	<h1><%= link_to @link.title, @link.url, target: "_blank" %></h1>
	<small>Submitted by <%= @link.user.name%></small>
</div>

<% if current_user == @link.user %>
	<%= link_to 'Edit', edit_link_path(@link), class: 'btn btn-primary' %>
	<%= link_to 'Delete', @links, method: :delete, data: {confirm: 'Are you sure you want to delete?'}, class: 'btn btn-default' %>
<% end %>